body {
    background-color: darkblue;
    font-family: "Lucida Console", Monaco, monospace;
}

h1 {
    background-color: blue;
    text-align: center;
}
h2 {
    background-color: blue;
    text-align: center;
}
h3 {
    background-color: blue;
    text-align: center;
}
h4 {
    background-color: blue;
    text-align: center;
}
h5 {
    background-color: blue;
    text-align: center;
}
h6 {
    background-color: blue;
    text-align: center;
}

div {
    background-color: lightblue;
    text-indent: 50px;
}

p {
    background-color: lightblue;
    text-indent: 50px;
}
