body {
    background-color: #004159;
    font-family: "Lucida Console", Monaco, monospace;
    color: #004159;
}

h1 {
    background-color: #65A8C4;
    text-align: center;
}
h2 {
    background-color: #65A8C4;
    text-align: center;
}
h3 {
    background-color: #65A8C4;
    text-align: center;
}
h4 {
    background-color: #65A8C4;
    text-align: center;
}
h5 {
    background-color: #65A8C4;
    text-align: center;
}
h6 {
    background-color: #65A8C4;
    text-align: center;
}

div {
    background-color: #AACEE2;
    text-indent: 50px;
}

p {
    background-color: #AACEE2;
    text-indent: 50px;
}

a {
    color: #00C590;
}

a:visited {
    color: #8C65D3;
}

code {
    font-size: small;
    color: #73EBAE;
    background-color: #004159;
}
